# ##############################################################################
# Config File for the  MetalRadioShowCollection
# ##############################################################################
# %RecordingDirectory
# %RecordingFileName
# %UrlOfStreamToRecord
# %NameOfRadioShow
# %NameOfRadioStation
# %RecordingDurationIn_s
# %DateString    # Format JJJJ-MM-DD like ISO 8601 2013-12-09
# ##############################################################################

# absolut path where the script can be found 
#    executable in:  src
#    the shos in:    mrscf_enabled
# typical value is
# mrscfDirectory          /usr/local/bin/MetalRadioShowCollection
# ##############################################################################
mrscfDirectory          /usr/local/bin/MetalRadioShowCollection

# streamripper will leave a NMAE.cue-file inside the recording directory
# if this is set to yes it weill be deleted after the recording is done
# possible values are yes Yes YES no NO No
# ##############################################################################
garbageCollection       yes

# absolute path where the recordings are filed
# the user given in /etc/crontab needs write permission here
# here you can use all the placeholders as describt on top of this file
# example:
# RecordingDirectory  /home/marcus/radiorecordings/%NameOfRadioStation/%NameOfRadioShow
# ##############################################################################
RecordingDirectory      /var/www/recordings/%NameOfRadioStation-%NameOfRadioShow

# Name of the recording file inside >>RecordingDirectory<<
# whitout extention because it depends on what the stream looks like
# example:
# RecordingFileName       %NameOfRadioShow-%DateString
# ##############################################################################
RecordingFileName       %NameOfRadioShow-%DateString

# this will be appendet to the call of sreamripper
# the call loos like this
# streamripper $url -t -A -q -d $RecordingDirectory -a $RecordingFileName -l $duration -s $additionalParameter
# ##############################################################################
additionalParameter     # for streamripper -A B --c=D

# a list of up to 10 0..9 rograms that to run after every recording
# use this to update the website for downloading, the rss feed the volume normalisation 
# execAfterRecording_0  mailen %NameOfRadioStation-%NameOfRadioShow-%DateString
# execAfterRecording_1  send_jabber %NameOfRadioShow was recordet at %DateString
# execAfterRecording_2  refresh_music_database_for_mpd
# ##############################################################################

# here it is possible to overwirte the system wide behaveiour 
# for given mrscf files
# or you can append behind the last execAfterRecording_N
# examples:
# [zosh.mrscf]
# execAfterRecording_3    replaygain %RecordingDirectory/*.mp3     # this will be executed >>refresh_music_database_for_mpd<< has finished
#
# [tinnitus.mrscf]
# execAfterRecording_0    halt      # number 0 => execute instead of global setting >>mailen...<< but only if recording tinnitus.mrscf
# ##############################################################################
