# ##############################################################################
# Config File for the  MetalRadioShowCollection
# ##############################################################################
# %RecordingDirectory
# %RecordingFileName
# %UrlOfStreamToRecord
# %NameOfRadioShow
# %NameOfRadioStation
# %RecordingDurationIn_s
# %DateString    # Format JJJJ-MM-DD like ISO 8601 2013-12-09
# ##############################################################################

mrscfDirectory                          /usr/local/bin/MetalRadioShowCollection
garbageCollection                       yes

RecordingDirectoryForOneSingleFile      /home/marcus/radioShows/%NameOfRadioStation-%NameOfRadioShow
FileNameForOneSingleFile                %NameOfRadioShow-%DateString

RecordingDirectoryOneFilePerTrac        /home/marcus/radioShows/%NameOfRadioStation-%NameOfRadioShow/%DateString
# FileNameForOneFilePerTrac  not specified heere, it is given by the station
 
additionalParameter     # for streamripper -A B --c=D
execAfterRecording_0    mailen %NameOfRadioStation-%NameOfRadioShow-%DateString

[zosh.mrscf]
execAfterRecording_1    replaygain %RecordingDirectory/*.mp3     # this will be executed after mailen ... has finished

[tinnitus.mrscf]
execAfterRecording_0    halt                     # number 0 => execute instead of global setting >>mailen...<< but only if recording tinnitus.mrscf

