
mrscfDirectory          /usr/local/bin/MetalRadioShowCollection
garbageCollection       yes
recordingDirectory      /home/marcus/radioShows
remove                  true
execAfterRecording_1    mailen %station-%show-%DateString
# %dir, %file, %url, %show, %station, %duration, %DateString\

[zosh.mrscf]
execAfterRecording_2    replaygain %di/*.mp3     # this will be executed after mailen ... has finished
execAfterRecording_4    halt                     # after replaygain

[tinnitus.mrscf]
execAfterRecording_1    halt                     # number 1 => execute instaed of global seting >>mailen...<< but only if recording tinnitus.mrscf

